* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #f6f8fc;
}

.content{
    padding: 1rem 0;
    background-color: white;
    height: 100vh;
    width: 100vw;
}

.content h1{
    margin: 0;
    margin-bottom: 1rem;
    text-align: center;
}

@media screen and (min-width: 992px){
    .content{
        max-width: 992px;
        margin: auto;
        border-radius: 1rem;
    }
    
}